* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F5F6;
}

/***********************
1) Header
2) Card Section
3) Link Section
/***********************

/* Header menu-jQuery */
#nav {
  margin-top: 3%;
  margin-bottom: 8%;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.45rem;
}

#menuBtn {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  border: 2.3px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  top: 20px;
  left: 30px;
  z-index: 999;
  font-size: 1.2rem
}

#menuBtn.menuOpen {
  color: #333;
  border: 2px solid #333;
}

#menu {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(125deg, #F6B196,#F5B0AB, #E99CA5,#DF94A1, #B75A75);
  transform-origin: left;
  transition: 0.8s ease;
  }

#menu.menuCollapsed {
  width: 0;
}

#menu ul {
  list-style-type: none;
}

#menu li {
 padding: 8% 0;
}

#menu a {
 color: #fff;
 text-decoration: none;
}

.hidden {
  display: none;
}

/* Card Section */
#cardSec {
  background-color: #A8D0E6;
  padding-top: 8%;
  padding-bottom: 8%;
}

.cardDiv {
  width: 90%;

}
.cardDiv .card {
 max-height: 25rem;
}

/* Link Section */
#linkSec {
  background-color: #F76C6C;
  padding-top: 5%;
  padding-bottom: 8%;
}
#linkSec h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
#linkSec a {
  text-decoration: none;
  color: #F76C6C;
  font-weight: 700;
}
.cool-link {
  background-color:  #F8E9A1;
  text-align: center;
  margin: 2rem 0.2rem;
  padding: 2.5%;
  border-radius: 5px;
}

/* responsive media query */
@media(max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  #linkSec h2 {
    font-size: 1.5rem;
  }
}
